alembic==1.0.1
astro-pi==1.1.5
bcrypt==3.1.4
boto==2.38.0
Cap1xxx==0.1.2
cffi==1.5.2
chardet==2.3.0
Click==7.0
codebug-tether==0.9.1
configobj==5.0.6
deja-dup-caja==0.0.4
drumhat==0.0.5
duplicity==0.7.6
envirophat==0.0.6
ExplorerHAT==0.4.2
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.6
Flask-Migrate==2.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
folder-color-caja==0.0.79
folder-color-common==0.0.79
gpiozero==1.3.1
itsdangerous==1.1.0
Jinja2==2.10
lockfile==0.12.2
Mako==1.0.7
MarkupSafe==1.0
mate-menu==5.7.1
mcpi==0.1.1
microdotphat==0.1.3
mote==0.0.3
motephat==0.0.2
netifaces==0.10.4
numpy==1.11.0
pantilthat==0.0.2
pianohat==0.0.5
picamera==1.12
picraft==1.0
piglow==1.2.4
pigpio==1.30
Pillow==6.2.0
ply==3.7
pycparser==2.19
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.20.0
pyserial==3.0.1
python-cloudfiles==1.7.10
python-dateutil==2.7.5
python-distutils-extra==2.39
python-editor==1.0.3
python-xlib==0.14
pyxdg==0.25
rainbowhat==0.0.1
requests==2.9.1
RPi.GPIO==0.6.3
RTIMULib==7.2.1
scrollphat==0.0.7
sense-emu==1.0
sense-hat==2.2.0
six==1.10.0
sn3218==1.2.6
spidev==3.0
SQLAlchemy==1.2.12
st7036==1.4.3
urllib3==1.13.1
virtualenv==16.1.0
Werkzeug==0.14.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
youtube-dl==2016.2.22
Youtube-DLG==0.3.8
